{% extends 'base.html.twig' %}

{% block title %}{{titre}}{% endblock %}

{% block body %}
<style>
    h2 {margin : 0 auto; color:rgb(84, 153, 86)}
</style>

<header>
    <h2>{{titre}}</h2>
</header>

<main>
    <div id='liste-message'></div>
    <div id='zone-envoi'><div>
</main>

{% endblock %}
