{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
    {% block style %}
        
    {% endblock %}
    <header>
        <img src='' alt='recherche'>
        <img src='' alt='lien panneau latéral'>
    </header>

    <main>

    <div id='liste_conversations'>
        
    </div>

    <div id='menu_lateral'>
        <img src='' alt='photo_user'>
        <div class='barre_horizontale'></div>
        <div id='liste_amis'></div>
        <img src='' alt='deconnection'>
    </div>

    </main>
{% endblock %}